<h1 class="text-pink text-center">Experience</h1>
<div class="row">
	<h4>IBM Virtualization Team Lead <small>November 2013 - Present <span class="pull-right">Raleigh NC</span></small></h4>
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		  
		<p>As team lead, I facilitate inter-team communication ensuring that all tasks are covered, goals are achieved, requests are completed smoothly, and any issues are handled promptly.</p>
		<p>While the team is small with just six employees, the environment is expansive, supporting over 6500 Virtual Machines and over 800 Users.  Other aspects of my role as team lead involve interfacing with customers to fix problems, answer questions, and send official notifications.</p>
	</div>
</div>
<div class="row">
	<h4>IBM Software Developer <small>January 2012 - Present <span class="pull-right">Raleigh NC</span></small></h4>
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p>As a programmer for the virtulaization team, my main project has been a self-service Infrastructure as a Service (IaaS) provisioning solution called vLaunch. In addition to automated provisioning, the system also provides a billing and reporting dashboard for admins.  The system was primarily written in Ruby on Rails using Bootstrap, with some Java and Python thrown in for handling automation and interfacing with outside systems.</p>
		<p>As the primary developer for vLaunch, I have had to wear several hats to complete the project:
			<ul class="list-unstyled">
				<li><b>Database Designer:</b>  I designed a database to efficiently hold VM information and maintain records as well as allow dynamic creation of request types.</li>
				<li><b>Project Manager:</b> I planned and prioritized administrative and user feature requests along with working on the overall layout and design of the project.</li>
				<li><b>Developer:</b>  I built out all of the prioritized features and implemented bug fixes, usually within a matter of hours of being reported.</li>
				<li><b>Tester:</b> Squashed bugs from new code before the code has been pushed into production.  Performed impact analysis on code changes to determine how changes will affect the environment.</li>
			</ul>
		</p>
		<p>I also wrote a custom application which allowed my team to send communications targeted to specific groups of users.  For example, when Windows XP hit end of life, we could send emails to just the user base that still had Windows XP virtual machines.</p>
	</div>
</div>
<div class="row">
	<h4>IBM Software Intern <small> June 2010 - January 2012 <span class="pull-right">Raleigh NC</span></small></h4>
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p>While an intern at IBM, I wrote code for many different projects, mostly in Java.</p>
		<ul class="list-unstyled">
			<li><b>Online Password Reset</b> - A website which allowed our users to reset their Active Directory password. Previously, an admin had to reset it for them or they had to log directly into the Active Directory server, presenting a security vulnerability. </li>
			<li><b>MSDN Check</b> -  A script which ran weekly. It enabled our team to verify that anyone using Windows VMs had a valid licence. It also compared the owners of the VMs to a list of users currently employed. It reported users who had left, saving the company over a million dollars in reclaimed licences. To accomplish this, the program used Selenium to download a list from MSDN, parse it into new users and users who had left IBM, and then update the official LDAP group which tracked the users.  Lastly, it emailed out the list of users who had left IBM to the appropriate software license administrators. </li>
			<li><b>Bulk IP Address Requester</b> - A Java program which allowed virtualization admins to request a static IP address and associated hostname en mass. It could be given an array of unique names or a starting name, index and number of IPs to request.</li>
		</ul>
	</div>
</div>
<div class="row">
	<h4>Senior Design / Deutsche Bank Global Technology <small>August 2011 - December 2011 <span class="pull-right">Cary NC</span></small></h4>
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p>Designed and built a UI with HTML5 and CSS for a stock market trading game. The game allowed users to trade any stock on the market.  It utilized Yahoo's stock API so that prices were updated in near real-time. </p>
		<p>During this project, I acted as team lead to facilitate communications between the team and Deutsche Bank Global Technology (DBGT). I also helped prioritize the different tasks as determined in our weekly scrum meetings at DBGT.</p>
	</div>
</div>
<div class="row">
	<h4>Rudinos Pizza and Grinders Waitress <small>May 2008 - August 2008 <span class="pull-right">Cary NC</span></small></h4>
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p>For a summer after college I waitressed at a local pizza restaurant. I learned how to interact with customers to ensure a prompt and pleasant experience. </p>
	</div>
</div>
<div class="row">
	<h4>West Regional Library Page <small>August 2006 - June 2007 <span class="pull-right">Cary NC</span></small></h4>
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p>I worked at the local library while in high school checking books in, shelving them and reorganizing selves. </p>
	</div>
</div>